<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>东城区</key>
	<array>
		<string>朝阳门</string>
		<string>安定门</string>
		<string>东四</string>
		<string>建国门/北京站</string>
		<string>王府井/东单</string>
		<string>天坛</string>
		<string>崇文门</string>
		<string>东直门</string>
		<string>和平里</string>
		<string>广渠门</string>
		<string>沙子口</string>
		<string>左安门</string>
		<string>东四十条</string>
		<string>雍和宫/地坛</string>
		<string>南锣鼓巷/鼓楼东大街</string>
		<string>光明楼/龙潭湖</string>
		<string>北新桥/簋街</string>
		<string>沙滩/美术馆灯市口</string>
	</array>
	<key>丰台区</key>
	<array>
		<string>丰台其它</string>
		<string>六里桥/丽泽桥</string>
		<string>方庄</string>
		<string>洋桥/木樨园</string>
		<string>右安门</string>
		<string>北大地</string>
		<string>刘家窑</string>
		<string>开阳里</string>
		<string>青塔</string>
		<string>草桥</string>
		<string>看丹桥</string>
		<string>花乡</string>
		<string>大红门</string>
		<string>卢沟桥</string>
		<string>公益西桥</string>
		<string>云岗</string>
		<string>分钟寺/成寿寺</string>
		<string>北京西站/六里桥</string>
		<string>马家堡/角门</string>
		<string>夏家胡同/纪家庙</string>
		<string>丽泽桥/丰管路</string>
		<string>总部基地</string>
	</array>
	<key>大兴区</key>
	<array>
		<string>黄村</string>
		<string>旧宫</string>
		<string>亦庄</string>
		<string>西红门</string>
	</array>
	<key>密云县</key>
	<array/>
	<key>平谷区</key>
	<array/>
	<key>延庆县</key>
	<array/>
	<key>怀柔区</key>
	<array/>
	<key>房山区</key>
	<array>
		<string>良乡</string>
	</array>
	<key>昌平区</key>
	<array>
		<string>昌平镇</string>
		<string>天通苑</string>
		<string>回龙观</string>
		<string>小汤山</string>
		<string>北七家</string>
		<string>南口镇</string>
		<string>沙河</string>
	</array>
	<key>朝阳区</key>
	<array>
		<string>朝阳其它</string>
		<string>安贞</string>
		<string>劲松/潘家园</string>
		<string>建外大街</string>
		<string>朝外大街</string>
		<string>朝阳公园/团结湖</string>
		<string>左家庄</string>
		<string>亮马桥/三元桥</string>
		<string>亚运村</string>
		<string>望京</string>
		<string>大望路</string>
		<string>对外经贸</string>
		<string>三里屯</string>
		<string>酒仙桥</string>
		<string>双井</string>
		<string>国贸</string>
		<string>首都机场</string>
		<string>管庄</string>
		<string>十八里店</string>
		<string>十里堡</string>
		<string>北苑家园</string>
		<string>东坝</string>
		<string>马泉营</string>
		<string>孙河</string>
		<string>定福庄</string>
		<string>北沙滩</string>
		<string>大屯</string>
		<string>小庄/红庙</string>
		<string>常营</string>
		<string>798/大山子</string>
		<string>北京东站</string>
		<string>霄云路</string>
		<string>蓝色港湾</string>
		<string>燕莎/农业展览馆</string>
		<string>姚家园</string>
		<string>十里河</string>
		<string>立水桥</string>
		<string>小营</string>
		<string>百子湾</string>
		<string>工人体育场</string>
		<string>慈云寺/八里庄</string>
		<string>甜水园</string>
		<string>高碑店</string>
		<string>北京欢乐谷</string>
		<string>双桥</string>
		<string>传媒大学/二外</string>
		<string>石佛营</string>
		<string>青年路</string>
		<string>太阳宫</string>
		<string>四惠</string>
	</array>
	<key>海淀区</key>
	<array>
		<string>紫竹桥</string>
		<string>航天桥</string>
		<string>北下关</string>
		<string>公主坟/万寿路</string>
		<string>北太平庄</string>
		<string>苏州桥</string>
		<string>中关村</string>
		<string>五道口</string>
		<string>海淀其它</string>
		<string>上地</string>
		<string>颐和园</string>
		<string>魏公村</string>
		<string>清河</string>
		<string>五棵松</string>
		<string>双榆树</string>
		<string>远大路</string>
		<string>香山</string>
		<string>农业大学西区</string>
		<string>军博</string>
		<string>人民大学</string>
		<string>四季青</string>
		<string>学院桥</string>
		<string>万柳</string>
		<string>大钟寺</string>
		<string>西三旗</string>
		<string>知春路</string>
	</array>
	<key>石景山区</key>
	<array>
		<string>石景山其它</string>
		<string>鲁谷</string>
		<string>古城/八角</string>
		<string>苹果园</string>
		<string>模式口</string>
	</array>
	<key>西城区</key>
	<array>
		<string>前门</string>
		<string>广外大街</string>
		<string>宣武门</string>
		<string>广内大街</string>
		<string>地安门</string>
		<string>新街口</string>
		<string>西直门/动物园</string>
		<string>阜成门</string>
		<string>复兴门</string>
		<string>西单</string>
		<string>牛街</string>
		<string>虎坊桥</string>
		<string>月坛</string>
		<string>什刹海</string>
		<string>西四</string>
		<string>菜市口</string>
		<string>德外大街</string>
		<string>陶然亭</string>
		<string>南菜园/白纸坊</string>
	</array>
	<key>通州区</key>
	<array>
		<string>新华大街</string>
		<string>梨园</string>
		<string>果园</string>
		<string>九棵树</string>
		<string>武夷花园</string>
		<string>通州北苑</string>
		<string>马驹桥</string>
	</array>
	<key>门头沟区</key>
	<array/>
	<key>顺义区</key>
	<array>
		<string>国展</string>
		<string>顺义</string>
	</array>
</dict>
</plist>
